<ion-content class="inner-page">

	<div class="logo-holder">

		<div class="service-menu left">
			<a href="mailto: contact(at)fortress6.com"><i class="fa fa-envelope"></i></a>
			<a href="tel: 03365555256"><i class="fa fa-phone"></i></a>
		</div>	

		<div class="logo"><img src="assets/images/company-logo.png"></div>


		<div class="service-menu right">
			<a href="https://www.facebook.com/Fortress6-Technologies-1637880229835858/" target="_blank"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/Fortress6Tech" target="_blank"><i class="fa fa-twitter"></i></a>
		</div>

	</div>


	<div class="main-content-wrap force-no-pad">
		<div class="main-wrap">	
			<div class="entry full-height">
				
				
				<div class="service-detail-banner" [style.backgroundImage]="'url(' + ourservicescontent?.bg + ')'"></div>

				<div class="detail-header">
					<div class="table-wrap"><div class="table-cell middle-line">
						<i class="fa {{ourservicescontent?.serviceicon}}"></i>
						<span>{{ourservicescontent?.servicename}}</span>
					</div></div>	
				</div>

				<div class="service-detail-content-holder">
					<div class="main-wrap">
						<div class="content-section">
							<div [innerHTML]="ourservicescontent?.content"></div>
						</div>
					</div>	
				</div>	


			</div>
		</div>	
	</div>





	<!-- <span>{{ ourservicescontent?.servicename }}</span> -->





	<div class="bootom-listing-nav"><i class="fa fa-th" routerLink="/navigation-panel"></i><i class="fa fa-chevron-left" routerLink="/our-services"></i></div>

</ion-content>