<ion-content class="inner-page">

	<div class="logo-holder">

		<div class="service-menu left">
			<a *ngFor="let constantsvalue of constantpage.constantsvaluesleft" href="{{constantsvalue.action}}: {{constantsvalue.content}}"><i class="fa {{constantsvalue.icon}}"></i></a>
		</div>	

		<div class="logo"><img src="assets/images/company-logo.png"></div>


		<div class="service-menu right">
			<a *ngFor="let constantsvalue of constantpage.constantsvaluesright" href="{{constantsvalue.content}}" target="_blank"><i class="fa {{constantsvalue.icon}}"></i></a>
		</div>

	</div>

	


	<div class="main-content-wrap force-no-pad">
		<div class="main-wrap">	
			<div class="entry full-height">
				
				<!-- services module -->
				<div class="services-module full-height clearfix">
					

						<!-- col -->
						<div class="col" [routerLink]="'/service-detail/' + ourservicescontent.id" detail="true" *ngFor="let ourservicescontent of ourserviceContentPage.ourservicescontents">
							<div class="main-wrap">
								<div class="table-wrap"><div class="table-cell middle-line">
									<i class="fa {{ourservicescontent.serviceicon}}"></i>
									<span>{{ourservicescontent.servicename}}</span>
								</div></div>	
							</div>	
						</div>	
						<!-- col -->



				</div>	
				<!-- services module -->


			</div>
		</div>	
	</div>




	<div class="bootom-listing-nav"><i class="fa fa-th" routerLink="/navigation-panel"></i></div>

</ion-content>
