// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



//custom


@import url('fontawsome.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body{
	
	font-family: var(--primary-custom-font);
	font-size: 14px;
}


p{
	&:last-child{
		margin-bottom: 0px;
	}

	&:first-child{
		margin-top: 0px;
	}
}


.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }



  * {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }


  .force-no-pad{
  	padding: 0px !important;
  }

  .force-full-height{
  	height: 100% !important;
  }


.table-wrap{

		display: table;
		width: 100%;
		height: 100%;
		vertical-align: bottom;
		margin: 0px;
		table-layout:fixed;
		background: transparent;

		&.no-fixed-width{
			table-layout: auto;
		}



		.table-cell{

			display: table-cell;
			
			&.bottom-line{

				vertical-align: bottom;
			}

			&.top-line{

				vertical-align: top;
			}

			&.middle-line{

				vertical-align: middle;
			}

		}
	}



	.pull-text-center{

		text-align: center !important;

	}

	.pull-text-left{

		text-align: left !important;

	}

	.pull-text-right{

		text-align: right !important;
	}

	.pull-text-justify{

		text-align: justify !important;
	}

	.box-pad-type-one{
		padding: 15px;
	}

	.two-column-grid{

		.col{
			float: left;
			width: 50%;
		}

	}

	.three-column-grid{
		.col{
			float: left;
			width: 33.33%;
		}
	}

	.grid-gaping-type-one{

			margin-left: -15px;
			margin-right: -15px;

			& > .col{
				padding-left: 15px;
				padding-right: 15px;
			}
	}

	.capture-height-by-three{
		height: calc(100vh / 3);
	}

	.full-height{
		height: 100%;
	}


	

	/*main-content-wrap*/
	.main-content-wrap{
		height: 75vh;
		padding: 15px;

		& > .main-wrap{

			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.entry{
			
			color: var(--site-dark-color);
			font-weight: var(--primary-custom-font-light);

			p, h1, h2, h3, h4, h5, h6, li{
				margin-top: 0px;

				&:last-child{
					margin-bottom: 0px;
				}
			}


			h1, h2, h3, h4, h5, h6{
				margin-bottom: 10px;
			}
			
			p{
				font-size: 14px;
				color: var(--site-dark-color);
				font-weight: var(--primary-custom-font-light);
				line-height: 26px;
				margin-bottom: 10px;
			}

			h1{
				color: var(--site-primary-color);
				font-weight: var(--primary-custom-font-light);

				&.page-title{
					text-transform: uppercase;
					font-size: 36px;
					margin-bottom: 25px;
				}
			}
		} 
	}
	/*main-content-wrap*/

	/*bootom-listing-nav*/
	.bootom-listing-nav{

		text-align: center;
		height: 10vh;
		line-height: 10vh;
		color: var(--ion-custom-color-white);
		font-weight: var(--primary-custom-font-light);
		font-size: 35px;
		background-color: var(--site-primary-color);

		i{
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;
		}

	}
	/*bootom-listing-nav*/

	/*logo holder*/
	.logo-holder{
		position: fixed;
		width: 100%;
		left: 0px;
		top: 0px;
		text-align: center;
		height: 15vh;
		z-index: 5;

		.service-menu{
			position: fixed;

				a{
					display: inline-block;
					vertical-align: middle;
					width: 30px;
					height: 30px;
					border-radius: 100%;
					text-align: center;
					line-height: 30px;
					background-color: var(--ion-custom-color-white);
					color: var(--site-primary-color);
					margin-right: 10px;

					&:last-child{
						margin-right: 0px;
					}
				}

			&.left{
				left: 15px;
				top: 30px;
				text-align: left;
			}

			&.right{
				right: 15px;
				top: 30px;
				text-align: right;
			}
		}


		& > .logo{
			display: inline-block;
			padding: 10px;
			background-color: #fff;
			border-radius: 0 0 5px 5px;

			img{
				width: 120px;
				height: auto;
			}
		}

		
	}
	/*logo holder*/

	/*inner-page*/
	.inner-page{
		.logo-holder{
			position: relative;
			background-color: var(--site-primary-color);


			&.no-background{
			
				background-color: transparent;
		
			}

			&.fixed-header{
				position: fixed;
				width: 100%;
				left: 0px;
				top: 0px;
				z-index: 100;
				height: auto;
			}
		}
	}
	/*inner-page*/









