<ion-content class="inner-page">

	<div class="logo-holder"><div><img src="assets/images/company-logo.png"></div></div>
	
	<div class="fixed-page-header">
		<div class="table-wrap"><div class="table-cell middle-line">
			<div class="main-wrap">
				<span>Our Team</span>
			</div>
		</div></div>
	</div>

	<div class="main-content-wrap">
		<div class="main-wrap">	
			<div class="entry">
				
				<!-- team module -->
				<div class="team-module clearfix">
					<div class="row grid-gaping-type-one">


						<!-- team block -->
						<div class="col team-block">
							<div class="main-wrap">

								<div class="dp">
									<div class="table-wrap"><div class="table-cell middle-line">
										<div class="main-wrap">
											<img src="../assets/images/team-dp-mini.jpg">
										</div>
									</div></div>
								</div>

								<div class="basic-info">
									<div class="name">Aftab Alam</div>
									<div class="designation">CEO</div>
								</div>	

							</div>	
						</div>	
						<!-- team block -->


					</div>	
				</div>	
				<!-- team module -->


			</div>
		</div>	
	</div>

	<div class="bootom-listing-nav"><i class="fa fa-th" routerLink="/navigation-panel"></i></div>

</ion-content>