<ion-content class="inner-page">

	<div class="logo-holder">

		<div class="service-menu left">
			<a *ngFor="let constantsvalue of constantpage.constantsvaluesleft" href="{{constantsvalue.action}}: {{constantsvalue.content}}"><i class="fa {{constantsvalue.icon}}"></i></a>
		</div>	

		<div class="logo"><img src="assets/images/company-logo.png"></div>


		<div class="service-menu right">
			<a *ngFor="let constantsvalue of constantpage.constantsvaluesright" href="{{constantsvalue.content}}" target="_blank"><i class="fa {{constantsvalue.icon}}"></i></a>
		</div>

	</div>
	
	

	<div class="main-content-wrap">
		<div class="main-wrap">	
			<div class="entry">
				
				<!-- team module -->
				<div class="team-module clearfix">
					<div class="row grid-gaping-type-one">


						<!-- team block -->
						<div class="col team-block" *ngFor="let teaminfo of teamsinfo">
							<div class="main-wrap">

								<div class="dp">
									<div class="table-wrap"><div class="table-cell middle-line">
										<div class="main-wrap">
											<img src="{{teaminfo.dp}}">
										</div>
									</div></div>
								</div>

								<div class="basic-info">
									<div class="name">{{teaminfo.name}}</div>
									<div class="designation">{{teaminfo.designation}}</div>
									<div class="social">
										<div class="main-wrap">
											<div><a class="fa fa-facebook" href="{{teaminfo.facebook}}" target="_blank"></a></div>
											<div><a class="fa fa-twitter" href="{{teaminfo.twitter}}" target="_blank"></a></div>
											<div><a class="fa fa-google-plus" href="{{teaminfo.googleplus}}" target="_blank"></a></div>
										</div>	
									</div>	
								</div>	

							</div>	
						</div>	
						<!-- team block -->


					</div>	
				</div>	
				<!-- team module -->


			</div>
		</div>	
	</div>

	<div class="bootom-listing-nav"><i class="fa fa-th" routerLink="/navigation-panel"></i></div>

</ion-content>